* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ltz.ltz.acx -text
/apertium-ltz.ltz.dix -text
/apertium-ltz.ltz.rlx -text
/apertium-ltz.pc.in -text
/apertium-ltz.post-ltz.dix -text
/autogen.sh -text
/configure.ac -text
dev/noun_candidate_extractor.sh -text
dev/verb_pardefs.dix -text
/ltz.prob -text
/modes.xml -text
